<!DOCTYPE html>
<html>

	<head>
	    <title>BSP Visualizer</title>


	    <script type="text/javascript" src="components/angular/angular.js"></script>
	    <script type="text/javascript" src="components/pixi.js/bin/pixi.dev.js"></script>
	    <script type="text/javascript" src="components/BSP-js/dist/generateMap.js"></script>
	</head>

	<body ng-app="BSP-visualizer">
		<div ng-controller="mainCtrl as mainCtrl">
			<div style="float:left; width:180px;" >
				options
				<div>
					<span>height</span><br/>
					<input ng-model="mainCtrl.scene.height" type="number" />
				</div>
				<div>
					<span>width</span><br/>
					<input ng-model="mainCtrl.scene.width" type="number" />
				</div>
				<div>
					<span>Max Leaf Size</span><br/>
					<input ng-model="mainCtrl.MAX_LEAF_SIZE" type="number" />
				</div>
				<div>
					<span>Min Leaf Size</span><br/>
					<input ng-model="mainCtrl.MIN_LEAF_SIZE" type="number" />
				</div>
				<div>
					<span>Skip Split Above Max %</span><br/>
					<input ng-model="mainCtrl.SKIP_SPLIT_ABOVE_MAX" type="number" />
				</div>
				<div>
					<span>Skip Split %</span><br/>
					<input ng-model="mainCtrl.SKIP_SPLIT" type="number" />
				</div>
				<div>
					<button ng-click="mainCtrl.setView()">Set View</button>
				</div>
			</div>
			<div style="float:left;" id="stage">
				
			</div>
		</div>
	</body>

	<script type="text/javascript" src="render.js"></script>
	<script type="text/javascript" src="index.js"></script>

</html>
